body {
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 4em 8em 1fr 4em;
    grid-gap: 1em;

}


aside {
    background: hsl(200, 100%, 60%);
    grid-row: 3;
    grid-column: 1 / span 3;

}

footer {
    background: hsl(266, 100%, 60%);
    grid-row: 4;
    grid-column: 1 / span 12; /* span indica el numero de columnas que ocupa*/
}

main {
    background: hsl(152, 83%, 42%);
    grid-row: 3;
    grid-column:  span 9;


}

header {
    background: hsl(22, 98%, 47%);
    grid-row: 1;
    grid-column: 1 / 13;
}

.feacture {
    background: hsl(0, 97%, 45%);
    grid-column: span 4;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
}